body {
    margin: 0 auto;
    text-align: center;
}

picture {
    display: block;
}

/* Blurring placeholders images */

picture img[data-src] {
    filter: blur(0.1em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter .5s;
  }
  