nav {
    display: flex;
    /*flex-direction:column;*/
    background-color: #42273B;
}
nav div {
    flex: 1 1 auto;
}
nav a {
    display: block;
    color: #FFEAD0;
	text-align: center;
	padding: 25px;
	text-decoration:none;
	font-size: 1.9rem;
    
}
nav a:hover {
    background-color: #70566D ;
    color: #42273B;
}
header, footer, nav a, h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif ;
}
body {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #FFE3C2;
}
footer {
    background-color: #A6B1E1;
    color: #42273B;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px 25px #70566D;
}
h2 {
    background-color:#A6B1E1;
    color: #42273B;
	text-align: center;
	padding: 15px;
	text-decoration:none;
	font-size: 1.9rem;
    box-shadow: 5px 5px 10px #70566D;
}
h1, .logo1{
    font-size: 60px;
    background-color: #F76F8E;
    color: #42273B;
    text-align: center;
    padding: 45px;
    box-shadow: 5px 5px 10px #70566D;
}
h3 {
    background-color:#70566D ;
    color: #FFEAD0;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
p, ul, li {
    font-family: 'Roboto', sans-serif;
}
.logo1 {
    margin-bottom: 30px;
}
.paragraphs_audience {
    font-size: 25px;
    text-align:justify;
    padding: 20px;
    margin-top: -10px;
}
h4, .p, p, #photo {
    text-align: center;
    font-size: 25px;
}
.demographics {
    text-align: center;
    list-style-type: none ;
    margin-right: 45px;
    font-size: 25px;
}
#logo_photo, #photo_palette {
    text-align: center;
    margin-bottom: 15px;
}
#margin_footer {
    margin-top: 15px;
}
/*Second page GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
#audience {
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
}
#personas {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
#grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
img {
    border-radius: 10px;
}
#scenarios {
    font-size: 25px;
}
#palette {
    background-color: white;
}
