
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin: 0 auto;
    background-color: #FFFFFF;
}
main img {
    width: 100%;
}
.weather img {
    width: 40%;
}
.spotlight1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.spotlight img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.spotlight2 img {
    width: 100%;
    height: 100%;
}
#come_to_know {
    font-weight: 500;
    font-size: 30px;
}
.spotlight, .spotlight1 {
    text-align: center;
    position: relative;
}

/*Spotlights styles*/

.spotlight p {
    position: absolute;
    bottom: 0px;
    left: 18px;
    color: #FFFFFF;
    background-color: #00143D;
    border-radius: 10px;
    padding: .2rem;
}
.spotlight1 h3, .spotlight1 p {
    margin: 0;
    color: #00143D;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
}
.spotlight1 h3 {
    top: 5px;
    font-size:x-large;
}
.spotlight1 p {
    bottom: 5px;
    left: 35%;
    font-size: 18px;
}

main p, h3 {
    text-align: center;
}
main {
    color: #FFFFFF;
    font-family:'Roboto', sans-serif;
    margin: 1px 10px ;
}
#date, #storage {
    border: 1.5px solid #00143D;
    padding: 0.75rem;
    color: #FFFFFF;
    text-align: center;
    background-color: #002776;
    font-family:'Nunito Sans', sans-serif;
}
/*Footer code */
footer {
    text-align: center;
    background-color: #e61c1c;
    color: #FFFFFF;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
    height: 400px;
}
footer p {
    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 1.5rem;
}
footer div img {
    width: 20%;
}
footer h5 {
    line-height: 25px;
}
.hero, .event, .weather, .join, .news, .spotlight, .spotlight1, .spotlight2{
    background-color: #00143D;
    color: #FFFFFF;
    border: 2px solid #002776;
} 
.spotlight, .spotlight1, .spotlight2 {
    background-color: #00143D;
}
.join, .spotlight2 {
    display: none;
}

#btn-mobile span:nth-child(1) {display: block;}
#btn-mobile span:nth-child(2) {display: none;}

#btn-mobile.active span:nth-child(1) {display: none;}
#btn-mobile.active span:nth-child(2) {display: block;}

Body, ul {
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFFFF;
}
#menu a:hover {
    background: #FFFFFF;
    color: #002776;
    border-radius: 20px;

}

header img {
    width: 45%;
}
#header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #e61c1c;
    height: 100px;
    padding: 1rem;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
    font-family:'Nunito Sans', sans-serif;
}

#btn-mobile {
    display: none;
    /*margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;*/
}

/*Styling*/

.hero {
    position: relative;
}
#hero img {
    width: 100%;
}
#position_hero {
    position: absolute;
    top: 10px;
    font-size:large;
    margin: 15px;
    color: #00143D;
    
}
#position_hero1 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #00143D;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}
.event img {
    width: auto;
}
.event p {
    font-size:small;
}
#matsuri_img {
    text-align: center;
}
.matsuri {
    color: #FFFFFF;
}
#festival {
    color: #e61c1c;
}
.news {
    padding: 35px;
}

.weather {
    position: relative;
}
#data_weather {
    position: absolute;
    font-size: 35px;
    top: 55px;
}
#cloudy {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 100px;
    left: 50%;
}
.wind_speed {
    position: absolute;
    top: 130px;
}
.wind_chill {
    position: absolute;
    bottom: 10px;
}
footer h5 img {
    width: 3%;
}
.spotlight div{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: #00143D;
}



@media (max-width: 1023px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 115px;
        right: 0px;
        background: #002776;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto ;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #00143D;
        color: #FFFFFF;
        font-family: 'Nunito Sans', sans-serif;
    }
}
.discover {
    display: block;
    text-align: center;
    padding: 10px;
}
.discover img {
    width: 70%;
}
/* hover effect */
.picture:hover {box-shadow: 0 0 50px #333;}
